input.form-autocomplete,
input.form-text,
input.form-file,
textarea.form-textarea,
select.form-select {
  max-width: 100%;
}


/*******************************************************************************
 * Form layout: default
 ******************************************************************************/
.form-layout-default {
}
.column-main {
  float: left;
  width: 65%;
}
.column-main-full {
  width: 100%;
}
.column-main .column-wrapper {
  padding-right: 10px;
}
.column-side {
  float: right;
  width: 34.99%;
}
.column-side .column-wrapper {
  background-color: #F4F4F4;
  border: 1px solid #ccc;
}

.column-side fieldset,
.column-side fieldset fieldset {
  border-left: none;
  border-right: none;
}
.column-side fieldset.collapsible {
  background-color: #E7E7E7;
  border-top: none;
  border-bottom: 1px solid #CCC;
  margin: 0;
}
.column-side fieldset.collapsed {
  background-color: #F4F4F4;
}
.column-side fieldset .fieldset-wrapper {
  padding: 0;
}

.column-side .fieldset-description,
.column-side .form-item {
  padding: 5px 15px;
}

.column-footer {
  clear: both;
}
.form-wrapper.form-actions input.form-submit,
.form-wrapper.form-actions a.button {
  margin-right: 5px;
}
.form-layout-default .column-side .form-actions {
  margin: 0 0 10px;
}
.form-layout-default .column-side .form-actions input.form-submit,
.form-layout-deafult .column-side .form-actions a.button {
  margin: 1px 5px 1px 0;
}